.component{
  position: relative;
  height: 100%;
  width: auto;
  background-color: rgb(31, 53, 64);
  border-radius: 10px 10px 10px 10px;
  padding: 30px;
  min-width: 444px;
  text-align: center;
}

.word{
  color: rgb(51, 197, 195);
}
