.screen{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.component{
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: auto;
  padding: 40px;
  background-color: rgb(30, 54, 64);
  border-radius: 10px 10px 10px 10px;

  .title{
    text-align: center;
    color: rgb(49, 195, 190);
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 15px;
  }

  .subtitle{
    text-align: center;
    font-size: 25px;
    color: rgb(242, 178, 55);
    letter-spacing: 7px;
    margin-top: 20px;

  }

  .buttons{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    gap: 60px;
  }

  .record{
    display: flex;
    align-items: end;
    margin-top: 60px;
    gap: 15px;
  }
}

button{
  color: white;
  font-weight: bold;
  border: none;
  background-color: rgb(25, 42, 50);
  height: auto;

  &:hover {
    background-color: rgb(45, 75, 88);
  }

  &:active {
    background-color: rgb(88, 132, 151) !important;
  }
}

#cpu{
  color: rgb(49, 195, 190);
}

#player{
  color: rgb(242, 178, 55);
}

#inputName{
  background-color: grey;
}

#sendButton{
  font-size: 12px;
  width: auto;
  margin-left: 10px;
}











::ng-deep .mat-focused .mat-form-field-label {
  color: rgb(160, 16, 16) !important;
}

::ng-deep.mat-form-field-underline, ::ng-deep.mat-form-field-ripple {
  background-color: white!important;}

.my-form-field ::ng-deep .mat-form-field-label,
.my-form-field ::ng-deep .mat-form-field-placeholder {
  color: white !important;
}

.my-form-field{
  margin-top: 15px;
  color: white;
}
